@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

div.button
{
    position : relative;
    text-align : center;
    width : 80px;
    border : 1px solid gray;
    padding : 10px 10px;
    border-radius : 5px;
    cursor : pointer;
    box-shadow : 2px 2px rgb(208,208,208);
}

div.button:hover
{
    text-decoration : underline;
}

div.button.disabled, div.button.disabled:hover
{
    cursor : default;
    text-decoration : none;
}