@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

div.button
{
    position : relative;
    text-align : center;
    width : 80px;
    border : 1px solid gray;
    padding : 10px 10px;
    margin-bottom : 10px;
    margin-right : 10px;
    border-radius : 5px;
    cursor : pointer;
    background-color : transparent;
    box-shadow : 2px 2px rgb(208,208,208);
}

div.button:hover
{
    text-decoration : underline;
}

div.button.disabled, div.button.disabled:hover
{
    color : gray;
    cursor : default;
    text-decoration : none;
}

div.button div#cooldown
{
    position : absolute;
    width : 100%;
    height : 100%;
    left : 0px;
    top : 0px;
    opacity : 0.0;
    background-color : gray;
}

div.button div#cooldown.cool
{
    opacity : 0.5;
}

div.button div.tooltip
{
    position : absolute;
    display : none;
    margin : 0px;
    padding : 0px;
    top : 40px;
    left : -40px;
    background-color : white;
    z-index : 10;
    width : 200px;
    height : auto;
    border : 1px solid black;
}

div.button div.tooltip p
{
    margin-top : 0px;
    margin-bottom : 5px;
}

div.button:hover div.tooltip
{
    display : block;
}

div.tooltip:hover
{
    display : none !important;
}

div.button.disabled:hover div.tooltip
{
    display : none !important;
}