@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

html
{
    height : 100%;
}

body
{
    height : 100%;
    margin : 0;
}

::selection
{
    background-color : transparent;
}

//firefox
::-moz-selection
{
    background-color : transparent;
}

::-webkit-selection
{
    background-color : transparent;
}

div#wrapper
{
    font-family: 'Jeju Gothic', serif;
    font-size : 16px;
    font-weight : normal;
    ine-height : normal;
    letter-spacing : normal;
    
    position : relative;
    width : 720px;
    margin : auto;
    padding : 20px 0 0 20px;
}

div#header
{
    height : 30px;
    display : -webkit-flex;
    display :         flex;
    -webkit-align-items : center;
            align-items : center;
    -webkit-justify-content : center;
            justify-content : center;
}

div.headerButton
{
    display : inline-block;
    margin-left : 20px;
    padding-left : 20px;
    border-left : 3px solid black;
    font-weight : bold;
    font-size : 24px;
}

div.headerButton:hover
{
    cursor : pointer;
    text-decoration : underline;
}

div.headerButton:first-child
{
    border-left : none;
    margin-left : 0px;
    padding-left : 0px;
}

div.headerButton.selected, div.headerButton.selected:hover
{
    cursor : default;
    text-decoration : underline;
}

div.scene
{
    position : absolute;
    visibility : visible;
    opacity : 1;
    margin-left : 0px;
    transition : visibility 0.7s, opacity 0.7s, margin-left 0.7s;
}

div.scene.disabled
{
    visibility : hidden;
    opacity : 0;
    margin-left : 700px;
}

div.tooltip
{
    position : absolute;
    display : none;
    margin-left : 50px;
    padding : 3px;
    background-color : white;
    z-order : 1;
    width : 200px;
    height : auto;
    border : 1px solid black;
}